.spa-booking {
    font-family: Arial, sans-serif;
    background-color: var(--clr-dark-blue);
    color: #ffffff;
    padding: 60px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
}
.spa-logo-image {
    display: flex;
    align-items: center;
    width: 5.5vw;
    height: 6vw;
}
.spa-booking-cards {
    display: grid;
    grid-template-columns:repeat(2, 1fr); 
    gap: 30px; 
    width: 80%; 
    height: auto;
    justify-items: center; 
}

.spa-booking-head {
    font-size: 1.5rem;
    margin-bottom: 70px;
    align-items: center;
    gap: 10px;
    display: flex;
    justify-content: center;
}
.spa-card-content {
    gap: 20px;
    width: 100%;
    display: flex;
    height: auto;
}
.spa-guest-info {
    background-color: var(--clr-blue);
    padding: 30px;
    border: 1px solid var(--clr-gold);
    border-radius: 8px;
    margin: 0 auto 40px;
    color: var(--clr-gold);
   display: flex;
   flex-direction: column;
   gap: 15px;
   max-width: 20%;
   margin-top: 30px;
}
.spa-guest-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.spa-guest-form input {
    padding: 6px;
    border: 1px solid var(--clr-gold);
    border-radius: 8px;
    background-color: var(--clr-dark-blue);
    color: var(--clr-gold);
}