.car-filter-panel {
  background-color: var(--clr-blue);
  padding: 2rem;
  border-radius: 12px;
  width: 250px;
  height: fit-content;
}

.car-filter-panel h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--clr-gold);
}

.car-filter-panel label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
  color: white;
}

.car-filter-panel select,
.car-filter-panel input[type="range"] {
  width: 95%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: var(--clr-dark-blue);
  color: white;
  border: 1px solid var(--clr-gold);
  border-radius: 6px;
}