/* .footer-cancel-reservation-form-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.cancel-reservation-form-boxes {
    padding: 30px;
    border-radius: 10px;
    width: 100%;
}

.footer-form-with-reservation-and-email {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-form-with-reservation-and-email label {
    font-size: 1rem;
    color: #ccc;

}

.footer-form-with-reservation-and-email input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1f2937;
    background-color: #0f172a;
    color: white;
}

.footer-form-with-reservation-and-email button {
    padding: 14px;
    background-color: #B8995E;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.footer-form-with-reservation-and-email button:hover {
    background-color: #ffffff;
} */