.cardThingsToDo {
    background-color: #0b1120;
    border: 2px solid #C4A55F;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.cardThingsToDo.reverse {
    flex-direction: row-reverse;
}

.cardThingsToDo .ttdc-image-container {
    width: 50%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.cardThingsToDo .ttdc-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* PALLINI SLIDER */
.ttdc-dots {
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.ttdc-dot {
    height: 12px;
    width: 12px;
    margin: 0 4px;
    background-color: #c4a55f;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    opacity: 0.6;
}

.ttdc-dot.ttdc-active {
    opacity: 1;
}

.cardThingsToDo .ttdc-content {
    width: 90%;
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f5f5f5;
}

.cardThingsToDo .ttdc-content h2 {
    color: #C4A55F;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.cardThingsToDo .ttdc-content p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.cardThingsToDo .ttdc-content ul {
    margin-left: 14px;
    padding: 0;
    font-size: 0.95rem;
}

.price-book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
}

.ttdc-price {
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
}

.ttdc-button-submit {
    background-color: var(--clr-gold);
    color: var(--clr-dark-blue);
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 900;
    transition: background-color 0.5s ease;
    cursor: pointer;
    border: none;
}

.ttdc-button-submit:hover {
    background-color: #3c486a;
    color: var(--clr-gold);
}