.spa-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding: 40px 2vw;
    background: var(--clr-dark-blue);
    color: #fff;
    font-family: 'inter', sans-serif;
    box-sizing: border-box;
    gap: 4vw;
    width: 100%;
    max-width: 100vw;
    margin: 0 auto 48px auto;
    overflow-x: hidden;

}

.spa-content {
    max-width: 45%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

.spa-title {
    font-size: 2.7rem;
    font-weight: bold;
    color: var(--clr-gold);
    letter-spacing: 1px;
    margin-bottom: 24px;
    text-align: left;
    width: 100%;
    padding: 0;
}

.spa-description {
    font-size: 1.2rem;
    margin-bottom: 32px;
    text-align: left;
    width: 100%;
    padding: 0;
}

.spa-card-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    gap: 16px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 32px;
}

.spa-image-wrapper {
    display: flex;
    align-items: flex-end ;
    justify-content: center;
    box-sizing: border-box;
    min-width: 35vw;
    min-height: 25vw;
    max-width: 40%;
    margin-bottom: 4vw;
}

.spa-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: block;
}
