.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-blue);
    padding: 0.7em 4vw;
    border-bottom: var(--clr-gold) 1px solid;
}

.navbar-logo-and-title {
    display: flex;
    align-items: center;
    gap: 0.7em;
}

.navbar-logo-and-title h1 {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    margin-left: 0.7em;
    color: var(--clr-gold);
}

.navbar-logo-image {
    display: flex;
    align-items: center;
    width: clamp(36px, 6vw, 60px);
    height: clamp(36px, 6vw, 60px);
}

.navbar-links {
    display: flex;
    gap: 2em;
    align-items: center;
}

.navbar-links a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
    gap: 2em;
}

.navbar-links :hover {
    color: var(--clr-gold);
}