.luxury-section {
  padding: 40px 20px;
  text-align: center;
}

.luxury-section h1 {
  font-size: 2.5em;
  margin-bottom: 40px;
}

.rooms-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 20px;
  padding-bottom: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  overflow: hidden;
  height: 460px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #1e1e2f;
  color: #fff;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.image-container-room {
  width: 100%;
  height: 220px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-room {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.image:hover {
  transform: scale(1.1);
}
.card-details {
  padding: 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 8px;
}

.description {
  font-size: 0.95em;
  margin-bottom: 12px;
  line-height: 1.4;
}

.price-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: auto;
}

.price {
  font-size: 1.1em;
  font-weight: bold;
}


@media (max-width: 1024px) {
  .rooms-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .rooms-grid {
    grid-template-columns: 1fr;
  }
}

.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  font-size: 17px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: background 0.3s ease;
}

.arrow-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.arrow-btn.left {
  left: 10px;
}

.arrow-btn.right {
  right: 10px;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  gap: 6px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background 0.3s ease;
}

.dot.active {
  background: #fff;
}