.fixed-form-container-of-Premium-Experiences {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    box-sizing: border-box;
}

.form-box-of-P-E {
    width: 450px;
    height: 550px;
    overflow-y: auto;
    background-color: #181C24;
    color: #C4A55F;
    padding: 30px;
    border-radius: 16px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.close-modal-of-form {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    color: #C4A55F;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-title-of-the-form {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #C4A55F;
}

.modal-subtitle-of-the-form {
    text-align: center;
    font-size: 0.85rem;
    color: #ccc;
    margin-bottom: 25px;
}

.form-section-title-PE {
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
    color: #C4A55F;
}

.the-modal-form-of-P-E {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.the-modal-form-of-P-E label {
    text-align: center;
    color: #cfcfcf;
    font-size: 0.8rem;
}

.the-modal-form-of-P-E input {
    background: transparent;
    border: 1px solid #C4A55F;
    border-radius: 6px;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.guest-counter-of-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.guest-counter {
    width: 32px;
    height: 32px;
    color: #C4A55F;
    background: transparent;
    border: 1px solid #C4A55F;
    border-radius: 6px;
    cursor: pointer;
}




#Premium-experience-modal {
    display: none;
}

.form-box-of-P-E::-webkit-scrollbar {
    width: 10px;
}

.form-box-of-P-E::-webkit-scrollbar-track {
    background: #181C24;
}

.form-box-of-P-E::-webkit-scrollbar-thumb {
    background-color: #C4A55F;
    border-radius: 10px;
}

@media (max-width: 480px) {
    .form-box-of-P-E {
        width: 100%;
        max-width: 95%;
        height: auto;
        max-height: 90vh;
        padding: 20px;
    }

    .modal-title-of-the-form {
        font-size: 1.1rem;
    }

    .modal-subtitle-of-the-form {
        font-size: 0.85rem;
    }

    .modal-submit-PE {
        font-size: 0.9rem;
        padding: 10px;
    }

    .guest-counter-of-form button {
        width: 28px;
        height: 28px;
        font-size: 1rem;
    }

    .the-modal-form-of-P-E input {
        font-size: 0.85rem;
        padding: 8px;
    }
}